// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.a-primary {
background-color: #460785;
color: whitesmoke;
// padding: 14px 25px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif,serif;
text-decoration: none;
display: inline-block;
}

a:hover, a:active {
  background-color: whitesmoke;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}