// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.a-primary {
background-color: #460785;
color: whitesmoke;
// padding: 14px 25px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif,serif;
text-decoration: none;
display: inline-block;
}

a:hover, a:active {
 
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: whitesmoke;
  background-color: whitesmoke;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.column_7 {
  float: left;
  width: 10.7%;
  padding: 0.73em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}