// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    background-color: #460785;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif,serif;
  }
